/* CSS Document */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(62,44,0,1.00);
	border-bottom: 8px solid rgba(33,18,0,1.00);
	z-index: 100;
}
.end{
	position: fixed;
	background-color: black;
	color : antiquewhite;
	left: 0;
	bottom: 100%;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
#listScore{
	overflow: hidden;
}
.left{
	font-size: 0.7em;
	position: fixed;
	top: 90px;
	left: 0;
	width: 14%;
	height: 60%;
	background-color: rgba(62,44,0,1.00);
	border-bottom: 8px solid rgba(33,18,0,1.00);
	border-top: 8px solid rgba(33,18,0,1.00);
	border-right: 8px solid rgba(33,18,0,1.00);
	display: inline-block;
	color: antiquewhite;
	z-index: 1000;
}
.left li{
	margin: 5px;
}
.left img{
	position: absolute;
	margin-top: 15px;
	width: 30px;
	height: auto;
	right: 10px;
	cursor:pointer;
}
.left h3{
	display: inline-block;
}



.rightHeadContenaire{
	display: inline-block;
	position: absolute;
	right: 5px;
	text-align: right;
	width: 500px;
}
.rightHeadContenaire h1{
	display: inline-block;
	margin-top: 10px;
}

.textDialogue{
	z-index: 1000000;
	overflow: scroll;
	padding: 40px;
	width: 90%;
	position: fixed;
	height: 220px;
	bottom: 50px;
	font-size: 30px;
	color: rgba(23,23,23,1.00);
	background-color: antiquewhite;
	border-radius: 30px;
	border: rgba(244,192,141,1.00) solid 5px;
	margin-left: 5%;
}
.mignion{
	height: 20px;
	width: auto;
	position: absolute;
	z-index: 2000000000;
	transition: 1s;
}
.monster{
    width: 15%;
    height: auto;
	z-index: 100;  
  position: fixed;
    bottom: 320px;
    right: 5%;
}

header img{
	margin: 5px;
	height: 50px;
	width: auto;
	cursor: pointer;
}

.grass {
  width: 100%;
  height: 100%;
  background-color: #358626;
}
.grass:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url('img/grass.png');
}
.grass:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 70px, transparent 70px, transparent 140px);
}
html,
body {
	font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
	overflow: hidden;
}
div{
	margin: 0;
	padding: 0;
}

.pillon{
	display: inline-block;
}

.pillonTop{
	background-image: url("img/wallTop.png");
	background-size: 100%;
}

.pillonLeft{
	background-image: url("img/wallLeft.png");
	background-size: 100%;
	display: block;
}

.pillonDown{
	background-image: url("img/wallDown.png");
	background-size: 100%;
}

.pillonRight{
	background-image: url("img/wallLeft.png");
	background-size: 100%;
	display: block;
}
.leftWallContenaire{
	position: absolute;
			z-index: 103;
}
.rightWallContenaire{
	position: absolute;
	right: 0;
	z-index: 103;
}
.right2WallContenaire{
	position: absolute;
	right: -15%;
	z-index: 103;
}
.topWallContenaire{
	width: 200%;
	z-index: 101;
	position: absolute;
}
.downWallContenaire{
	position: absolute;
	bottom: -8px;
		z-index: 105;
		width: 200%;
}
.batiment, .stock{
		background-image: url("img/floor.png");
	z-index: 100;
	position: fixed; /* postulat de départ */
  top: 15%; left: 16%; /* à 50%/50% du parent référent */

}
.stock{
	top: 50%; 
	left: 100%;
	position: absolute;
	transform: translate(0%, -50%); /* décalage de 50% de sa propre taille */
}
.batiment .int{
	margin-top: -5px;
}

.batElement{
	width: 50px;
	height: 100%;
	position: absolute;
	text-align: center;
	cursor: pointer;
}
.hour{
	top : calc(60% + 120px);
	position: absolute;
	height: auto;
	padding: 30px;
	width: 10%;
}

.panneau{
	margin-top: -120px;
	left:35%;
	z-index: 102;
	position: absolute;
	width: 30%;
	height: auto;
	image-rendering: pixelated;
}
.forkLift{
	width: 50px;
	height: auto;
	z-index: 1000006;
	position: absolute;
}
.reverseLift{
	transform:scaleX(-1);
}
.stockIMG{
	image-rendering: pixelated;
	width: 60%;
	left: 20%;
	margin-top: 10%;
	position: absolute;
	height: auto;
}

.masques{
	background-color: cyan;
	border: 3px solid darkcyan;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.pates{
	background-color: orange;
	border: 3px solid orangered;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.alcool{
	background-color: rgba(20,146,10,0.64);
	border: 3px solid greenyellow;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.preservatif{
	background-color: yellow;
	border: 3px solid rgba(0,195,255,1.00);
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.deadBat, .dead{
	background-color: gray;
	border: 3px solid rgba(25,24,24,1.00);
	padding-top: 30px;
	height: calc(100% - 30px);
}
.gels{
	background-color: rgba(0,205,205,0.59);
	border: 3px solid cyan;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.pq{
	background-color: pink;
	border: 3px solid hotpink;
	padding-top: 30px;
	height: calc(100% - 30px);
}
.chloroquine{
	background-color: whitesmoke;
	border: 3px solid red;
	padding-top: 30px;
	height: calc(100% - 30px);
}

.positionBat{
	height: 20%;
	position: absolute;
}

.alertBat {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    border: solid red 8px;
  }

  to {
   	
  }
}

.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}